* { box-sizing: border-box; }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    aspect-ratio: 63 / 88;
    width: 300px;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}